<!-- Link Gitalk的支持文件 -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
    <script>
var gitalk = new Gitalk({
    clientID: '68296066f59c62241bae', // clientID 
    clientSecret: 'd81446faf8f44d8c917f81139dacf51de85ecaa9', // clientSecret
    repo: 'gitalk-comments', // 评论仓库名
    owner: 'knock200508',
    admin: ['knock200508'], // 管理人
    proxy: 'https://cors-server-ecru.vercel.app/github_access_token', // GitHub oauth 请求到反向代理
    id: location.pathname, // 返回当前 URL 的路径部分作为id
    language:'zh-CN', // 语言
    distractionFreeMode: false  // 无干扰模式
});
gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->
